<!DOCTYPE html>

	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="<%= description %>" />
	<meta name="keywords" content="<%= keywords %>" />
	<meta name="author" content="Aayank Singhai" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="assets/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="assets/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Theme style  -->
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- Modernizr JS -->
	<script src="assets/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="/" id="mainTitle">#Lavsha<strong>.</strong></a></div>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(assets/images/banner.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1 id="nameHeading">Lavish &amp; Preksha</h1>
							<h2>We Are Getting Married</h2>
                            <h2>At</h2>
                            <h2><u><a href="https://g.page/SimchaIsland?share" style="color:white">SIMCHA ISLAND - ADVENTURE PARK & RESORT, MHOW, INDORE </a></u> </h2>
							<div class="simply-countdown simply-countdown-one"></div>
                            <p id="demo"></p>
							<p><a href="" id="" class="more scrolly">RSVP</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-couple">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Hello!</h2>
					<h3>November 25th 26th, 2022</h3>
					<p>We invited you to celebrate our wedding</p>
				</div>
			</div>
			<div class="couple-wrap animate-box">
				<div class="couple-half">
					<div class="groom">
						<img src="assets/images/groom.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-groom">
						<h3>Lavish Singhai </h3>
						<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p> -->
					</div>
				</div>
				<p class="heart text-center"><i class="icon-heart2"></i></p>
				<div class="couple-half">
					<div class="bride">
						<img src="assets/images/bride.jpg" alt="groom" class="img-responsive">
					</div>
					<div class="desc-bride">
						<h3>Preksha Nayak</h3>
						<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(assets/images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Special Events</span>
					<h2>Wedding Events</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Haldi Ceremony</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>10:00 AM</span>
										<!-- <span>6:00 PM</span> -->
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Friday 25th</span>
										<span>November, 2022</span>
									</div>
									<p>Prepare for the sprinkler water haldi by getting dressed in your yellow-themed attire.
										</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center pad">
								<div class="event-wrap animate-box">
									<h3>Sagai</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>4:00 PM</span>
										<!-- <span>12:00 AM</span> -->
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Friday 25</span>
										<span>November, 2022</span>
									</div>
									<p>Watch our loved ones' ring exchange and shower your Love.</p>
								</div>
							</div>
                            <div class="col-md-6 col-sm-6 text-center pad">
								<div class="event-wrap animate-box">
									<h3>Sangeet/Musical Night</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>7:00 PM</span>
										<!-- <span>6:00 PM</span> -->
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Friday 25th</span>
										<span>November, 2022</span>
									</div>
									<p>The dance goes on forever. So shall I. So shall we.
										Forget your troubles and dance!</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center pad">
								<div class="event-wrap animate-box">
									<h3>Baraat</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>10:00 AM</span>
										<!-- <span>12:00 AM</span> -->
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Saturday 26</span>
										<span>November, 2022</span>
									</div>
									<p>Loud music plays as the procession gets underway with the groom.
										Bring your sunglasses, don't forget.</p>
								</div>
							</div>
                            <div class="col-md-6 col-sm-6 text-center pad">
								<div class="event-wrap animate-box">
									<h3>Phere </h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>1:45 PM</span>
										<!-- <span>6:00 PM</span> -->
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Saturday 26th</span>
										<span>November, 2022</span>
									</div>
									<p>Witnessing their lifetime commitment to one another.</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center pad">
								<div class="event-wrap animate-box">
									<h3>Reception</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>5:00 PM</span>
										<!-- <span>12:00 AM</span> -->
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Saturday 26th</span>
										<span>November, 2022</span>
									</div>
									<p>Join us for the evening's special, delicious feast.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>We Love Each Other</span>
					<h2>Our Story</h2>
					<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(assets/images/couple-1.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">First We Meet at Mocha</h3>
									<span class="date">April 15, 2022</span>
								</div>
								<div class="timeline-body">
									<p>We first met at Indore's Mocha Cafe. How amusing it is that we both engage in conversation and gossip at the dinner table.
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(assets/images/swimpool.jpeg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Car Broke</h3>
									<span class="date">April 17, 2022</span>
								</div>
								<div class="timeline-body">
									<p>Funny how your car broke down in the middle of the road. I give the car the strongest kick, followed by Aayank. Unfortunately, it didn't work out, and we had to call a mechanic. How anxious were you to be discovered with me?</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(assets/images/roka.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Roka Ceremony</h3>
									<span class="date">June 3, 2022</span>
								</div>
								<div class="timeline-body">
									<p>On the occasion of Roka, we made a knot of promises, and we later took a lot of twirl dance cuts.</p>
								</div>
							</div>
						</li>
                        <li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(assets/images/couple-2.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Surprise Pune Visit</h3>
									<span class="date">September 18, 2022</span>
								</div>
								<div class="timeline-body">
									<p>What a wonderful experience it was to meet Preksha's friend over a fancy meal in Pune. We ended up staying out all night having fun.</p>
								</div>
							</div>
						</li>
                        <li class="animate-box">
							<div class="timeline-badge" style="background-image:url(assets/images/couple-3.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Wedding Shopping</h3>
									<span class="date">October 10, 2022</span>
								</div>
								<div class="timeline-body">
									<p>We ended up eating each other's brains after the nth trial and argument over wedding attire.</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Insta Section -->
    <div id="fh5co-event instaSection" class="fh5co-bg" style="background-image:url(assets/images/img_bg_3.jpg);">
		<div class="overlay">
		<div class="container">
			<div class="row">
                <section id="instagram" class="section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3 id="instaTitle">A picture is worth a thousand words!</h3>
                                <p id="instaPara">Help us capture the moment, tag your photos with the hashtag
                                    <a id="lavSha" href="https://instagram.com/explore/tags/lavsha/" target="_blank">#LavSha</a>
                                </p>
                            </div>
                        </div>
                        <div class="row section-border wp7">
                            <div class="col-md-12 text-center" >
                                <img id="insta" src="assets/images/insta_template.jpg">
                            </div>
                        </div>
                    </div>
                </section>
			</div>
		</div>
        </div>
	</div>

	<!-- Pre Weds -->

	<div id="fh5co-services" class="fh5co-section-gray">
		<div class="container">
			
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Pre Wedding</h2>
					<!-- <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> -->
				</div>
			</div>

			<div class="row">
				<!-- <div class="col-md-6">
					
				</div> -->
				<!-- Teaser -->
				<div class="col-md-6  text-center animate-box">
					<!-- <div class="fh5co-video fh5co-bg" style="background-image: url(assets/images/img_bg_3.jpg); "> -->
						<!-- <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a> -->
						<iframe id="youtube" width="560" height="315" src="https://www.youtube.com/embed/FYCjz3ttzGo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<!-- <div class="overlay"></div> -->
					</div>
				</div>

				<!-- Video -->
				<div class="col-md-6">
				</div>
				<div class="col-md-6  text-center animate-box">
					<!-- <div class="fh5co-video fh5co-bg" style="background-image: url(assets/images/img_bg_3.jpg); "> -->
						<!-- <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a> -->
						<iframe id="youtube" width="560" height="315" src="https://www.youtube.com/embed/SQ71saVjlHc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<!-- <div class="overlay"></div> -->
					</div>
				</div>
			</div>

			
		</div>
	</div>

<section id = "rsvp">
	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(assets/images/img_bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Are You Attending?</h2>
					<p>Please Fill-up the form to notify you that you're attending. Thanks.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1">
					<form class="form-inline" action="/save" method="POST">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input type="name" class="form-control" id="name" placeholder="Name">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-default btn-block">I am Attending</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						Crafted by Aayank with lots of <i class="icon-heart2"></i> for Lavish & Preksha
                    </p>
					<p> 
						<ul class="fh5co-social-icons">
							<li><a href="https://twitter.com/Aaymionk"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/aayank.singhai.5/"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.linkedin.com/in/aayanksinghai/"><i class="icon-linkedin"></i></a></li>
							<li><a href="https://instagram.com/aaym_ionk"><i class="icon-instagram"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="assets/js/jquery.countTo.js"></script>

	<!-- Stellar -->
	<script src="assets/js/jquery.stellar.min.js"></script>
	<!-- Magnific Popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/magnific-popup-options.js"></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<script src="assets/js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="assets/js/main.js"></script>

	<script>
    var countDownDate = new Date("Nov 25, 2022 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>

	</body>
</html>

